.hf{
    color: #ff386a;
    font-weight: bold;
}


.usecase{
    background-color: #f92a5e;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 3px 1px 5px 2px rgb(196, 186, 186);
    text-align: center;
    text-justify: inter-cluster;
    top: 50%;
    font-size: 45px;
    color: white;
    padding-top: 95px;        
}



